* {
  transition: 200ms all ease-in;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  border-radius: 0px;
}

html,
body,
#root {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  background-color: #fafafa;
}

.bold {
  font-weight: bold;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #838383;
  margin: 0;

  @media (max-width: 991px) {
    font-size: 1rem;
  }
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 58px;
  margin-top: 0px;
  color: #373737;

  @media (max-width: 991px) {
    font-size: 2rem;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  height: 100%;
}

img {
  height: 200px;
  width: 200px;
  margin-top: 20px;
}

.box {
  @media (max-width: 991px) {
    width: 90%;
  }
}

.form-container {
  @media (min-width: 992px) {
    width: 100%;
    max-width: 680px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
}

form {
  @include flex-center;
  position: relative;

  // flex-direction: column;
  input {
    width: 70%;
    display: block;
    width: 600px;

    @media (max-width: 991px) {
      width: 100%;
    }

    padding: 0px 10px;
    height: 52px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #ff916f;
    border-right: none;
    border-radius: 0px;

    &:focus,
    &:visited {
      outline: none;
    }
  }

  .search-button {
    cursor: pointer;
    width: 30%;
    text-align: center;
    border-left: 0;
    padding: 12px 0px;
    height: 52px;
    font-weight: 600;
    background: #ff5722;
    color: #fff;
    border: none;

    span {
      margin-left: 4px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    &:hover {
      background: darken(#ff5722, 5%);
    }

    &:focus,
    &:visited {
      outline: none;
    }
  }
}

p {
  margin: 0px;
}

.dynamic {
  margin-top: 5px;
  text-align: center;
  min-height: 1px;
  transition: all 2s ease;

  a {
    display: block;
    text-decoration: none;
    color: #373737;
  }
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  left: 78%;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 12px;
  height: 12px;
  color: #373737;
  position: absolute;
  z-index: 1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  font-weight: normal;
  font-size: 8px;
  border: 1px solid #ff916f;
  cursor: pointer;
}





// Profile box
.profileBox {
  $clr: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 680px;
  width: 100%;
  padding: 1rem;
  margin: 15px auto;
  color: $clr;
  background-color: lighten($clr, 90%);
  border: 1px solid lighten($clr, 60%);
  // box-shadow: -1px 4px 8px 1px #ccc;
  border-radius: 4px;

  a {
    color: #38c;
  }

  &_fullName {
    font-size: 1.5rem;
    line-height: 2;
    margin:0;
    color: darken($clr, 5%);
  }

  &_img {
    border-radius: 50%;
    $s: 150px;
    width: $s;
    height: $s;
    background-color: lighten($clr, 60%);
  }

  &_bio{
    line-height: 2;
    color: lighten($clr, 20%);
    padding: 5px 15px;
  }


  ul {
    text-align: left;
    padding: 0;
    list-style: none;

    li {
      margin-right: 5px;
      float: left;
    }
  }
}